{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
  "plugins": ["@babel/plugin-external-helpers"],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }]
      ]
    }
  }
}
