{
  "extends": [
    "standard",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "jest",
    "flowtype"
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2, { "MemberExpression": "off" }]
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "jsdom": true,
    "fetch": true
  }
}
